{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hans Archer M. Dalubatan</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'myapp/css/home.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf/notyf.min.css">



</head>

<body class="bg-gray-100 font-Poppins overflow-x-hidden">
    <header class="bg-white shadow-md sticky top-0 z-10 flex justify-between items-center px-4 py-4">
        <h1 class="text-3xl font-bold">Hanz Archer.</h1>
        <button id="navbar-toggler" class="md:hidden focus:outline-none">
            <svg class="w-6 h-6 text-gray-600 hamburger" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
        <nav id="navbar" class="hidden md:flex">
            <ul class="flex space-x-10">
                <li><a href="#home" class="hover:text-blue-600 transition">Home</a></li>
                <li><a href="#about" class="hover:text-blue-600 transition">About Me</a></li>
                <li><a href="#education" class="hover:text-blue-600 transition">Education</a></li>
                <li><a href="#experience" class="hover:text-blue-600 transition">Experience</a></li>
                <li><a href="#projects" class="hover:text-blue-600 transition">My Projects</a></li>
                <li><a href="#certifications" class="hover:text-blue-600 transition">My Certifications</a></li>
                <li><a href="#contact" class="hover:text-blue-600 transition">Contact Me</a></li>
            </ul>
        </nav>
    </header>
    
    <div id="mobile-menu" class="hidden md:hidden sticky top-0 z-10 bg-white shadow-md">
        <nav>
            <ul class="flex flex-col space-y-4 px-4 py-2">
                <li><a href="#home" class="hover:text-blue-600 transition">Home</a></li>
                <li><a href="#about" class="hover:text-blue-600 transition">About Me</a></li>
                <li><a href="#education" class="hover:text-blue-600 transition">Education</a></li>
                <li><a href="#experience" class="hover:text-blue-600 transition">Experience</a></li>
                <li><a href="#projects" class="hover:text-blue-600 transition">Current Projects</a></li>
                <li><a href="#contact" class="hover:text-blue-600 transition">Contact Me</a></li>
            </ul>
        </nav>
    </div>
    
    
    <main>
        <section id="home" class="min-h-screen bg-white flex flex-col md:flex-row p-10 md:p-20 mb-4">
            <!-- Left Section -->
            <div class="w-full md:w-1/2 flex flex-col justify-center items-start p-6 md:p-10" data-aos="fade-up">                          
                <h1 class="text-3xl md:text-4xl font-semibold mb-4">Hi! I am Hanz Archer Montezon Dalubatan</h1>
                <p class="text-gray-600 mb-8">A Bachelor of Science in Information Technology Student of Cebu Technological University.<br>
                    Aspiring Fullstack Developer.
                </p>
        
                <!-- Reach me Heading -->
                <h3 class="text-lg md:text-2xl mb-4">Reach me thru</h3>
        
                <!-- Social Media Icons -->
                <div class="flex space-x-6 md:space-x-10">
                    <a href="https://www.linkedin.com/in/hans-archer-dalubatan-661b2a1aa/" target="_blank">
                        <img src="{% static 'myapp/img/linkedin.svg' %}" alt="LinkedIn" class="w-16 h-16 md:w-12 md:h-12 transition-transform duration-300 transform hover:scale-110" />
                    </a>
                    <a href="https://profile.indeed.com/p/hansarchermontezond-g22m4yp" target="_blank">
                        <img src="{% static 'myapp/img/indeed.svg' %}" alt="Indeed" class="w-16 h-16 md:w-12 md:h-12 transition-transform duration-300 transform hover:scale-110" />
                    </a>
                    <a href="https://www.facebook.com/hanzzarcherr" target="_blank">
                        <img src="{% static 'myapp/img/facebook.svg' %}" alt="Facebook" class="w-16 h-16 md:w-12 md:h-12 transition-transform duration-300 transform hover:scale-110" />
                    </a>
                    <a href="https://github.com/hanz-archer" target="_blank">
                        <img src="{% static 'myapp/img/githublogo.svg' %}" alt="GitHub" class="w-16 h-16 md:w-12 md:h-12 transition-transform duration-300 transform hover:scale-110" />
                    </a>
                </div>
        
                <div class="mt-6">
                    <a href="{% url 'download_cv' %}" class="inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded shadow hover:bg-blue-600 transition duration-300">
                        Download CV
                    </a>
                </div>                
            </div>
        
            <!-- Right Section with Image -->
            <div class="w-full md:w-1/2 flex justify-center items-center mt-8 md:mt-0" data-aos="fade-up">
                <img src="{% static 'myapp/img/myphoto.jpg' %}" alt="Hanz Archer" class="w-2/3 md:w-3/4 h-auto rounded-lg shadow-lg" />
            </div>
        </section>
        
        
        
        
        <section id="about" class="min-h-screen bg-gray-200 flex flex-col justify-center items-center p-6 mb-4">
            <h2 class="text-5xl font-bold text-gray-900 mb-8">About Me</h2>

            <!-- About Me Text -->
            <p class="text-gray-600 text-center max-w-xl mb-12 leading-relaxed">
                I'm a passionate web developer focused on creating clean, functional, and user-friendly web applications. 
                I love working with both front-end and back-end technologies to bring ideas to life. Simplicity and functionality
                are at the heart of everything I build.
            </p>
            
            <!-- Favorite Technologies Header -->
            <h3 class="text-3xl font-semibold text-gray-800 mb-6">Technologies I Love</h3>
            
            <!-- Technologies SVG Section -->
            <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-6 mb-12">
                <!-- JavaScript -->
                <div class="flex flex-col items-center">
                    <img src="{% static 'myapp/img/js.svg' %}" alt="JavaScript" class="w-16 h-16 grayscale hover:grayscale-0 transition duration-300">
                    <p class="text-gray-700 mt-3 text-sm">JavaScript</p>
                </div>
                
                <!-- Tailwind CSS -->
                <div class="flex flex-col items-center">
                    <img src="{% static 'myapp/img/tailwind.svg' %}" alt="Tailwind CSS" class="w-16 h-16 grayscale hover:grayscale-0 transition duration-300">
                    <p class="text-gray-700 mt-3 text-sm">Tailwind CSS</p>
                </div>
                
                <!-- HTML -->
                <div class="flex flex-col items-center">
                    <img src="{% static 'myapp/img/html.svg' %}" alt="HTML" class="w-16 h-16 grayscale hover:grayscale-0 transition duration-300">
                    <p class="text-gray-700 mt-3 text-sm">HTML</p>
                </div>
        
                <!-- CSS -->
                <div class="flex flex-col items-center">
                    <img src="{% static 'myapp/img/css.svg' %}" alt="CSS" class="w-16 h-16 grayscale hover:grayscale-0 transition duration-300">
                    <p class="text-gray-700 mt-3 text-sm">CSS</p>
                </div>
        
                <!-- Django -->
                <div class="flex flex-col items-center">
                    <img src="{% static 'myapp/img/django.svg' %}" alt="Django" class="w-16 h-16 grayscale hover:grayscale-0 transition duration-300">
                    <p class="text-gray-700 mt-3 text-sm">Django</p>
                </div>

                <div class="flex flex-col items-center">
                    <img src="{% static 'myapp/img/php.svg' %}" alt="Django" class="w-16 h-16 grayscale hover:grayscale-0 transition duration-300">
                    <p class="text-gray-700 mt-3 text-sm">PHP</p>
                </div>
    
                <div class="flex flex-col items-center">
                    <img src="{% static 'myapp/img/mysql.svg' %}" alt="Django" class="w-16 h-16 grayscale hover:grayscale-0 transition duration-300">
                    <p class="text-gray-700 mt-3 text-sm">MySQL</p>
                </div>

                <div class="flex flex-col items-center">
                    <img src="{% static 'myapp/img/java.svg' %}" alt="Django" class="w-16 h-16 grayscale hover:grayscale-0 transition duration-300">
                    <p class="text-gray-700 mt-3 text-sm">Java</p>
                </div>

                <div class="flex flex-col items-center">
                    <img src="{% static 'myapp/img/firebase.svg' %}" alt="Django" class="w-16 h-16 grayscale hover:grayscale-0 transition duration-300">
                    <p class="text-gray-700 mt-3 text-sm">Firebase</p>
                </div>

                <div class="flex flex-col items-center">
                    <img src="{% static 'myapp/img/laravel.svg' %}" alt="Django" class="w-16 h-16 grayscale hover:grayscale-0 transition duration-300">
                    <p class="text-gray-700 mt-3 text-sm">Laravel</p>
                </div>
            </div>


        </div>
            
            <!-- Applications Used Header -->
            <h3 class="text-3xl font-semibold text-gray-800 mb-6">Applications I Use</h3>
        
            <!-- Applications SVG Section -->
            <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 gap-6 mb-12">
                <!-- GitHub -->
                <div class="flex flex-col items-center">
                    <img src="{% static 'myapp/img/githublogo.svg' %}" alt="GitHub" class="w-16 h-16 grayscale hover:grayscale-0 transition duration-300">
                    <p class="text-gray-700 mt-3 text-sm">GitHub</p>
                </div>
        
                <!-- Git -->
                <div class="flex flex-col items-center">
                    <img src="{% static 'myapp/img/git.svg' %}" alt="Git" class="w-16 h-16 grayscale hover:grayscale-0 transition duration-300">
                    <p class="text-gray-700 mt-3 text-sm">Git</p>
                </div>
        
                <!-- VS Code -->
                <div class="flex flex-col items-center">
                    <img src="{% static 'myapp/img/vsc.svg' %}" alt="VS Code" class="w-16 h-16 grayscale hover:grayscale-0 transition duration-300">
                    <p class="text-gray-700 mt-3 text-sm">VS Code</p>
                </div>
        
                <!-- Visual Studio Community -->
                <div class="flex flex-col items-center">
                    <img src="{% static 'myapp/img/vs.svg' %}" alt="Visual Studio Community" class="w-16 h-16 grayscale hover:grayscale-0 transition duration-300">
                    <p class="text-gray-700 mt-3 text-sm">Visual Studio Community</p>
                </div>
        
                <!-- Android Studio -->
                <div class="flex flex-col items-center">
                    <img src="{% static 'myapp/img/androidstudio.svg' %}" alt="Android Studio" class="w-16 h-16 grayscale hover:grayscale-0 transition duration-300">
                    <p class="text-gray-700 mt-3 text-sm">Android Studio</p>
                </div>
        
                <!-- Packet Tracer -->
                <div class="flex flex-col items-center">
                    <img src="{% static 'myapp/img/cisco.svg' %}" alt="Packet Tracer" class="w-16 h-16 grayscale hover:grayscale-0 transition duration-300">
                    <p class="text-gray-700 mt-3 text-sm">Packet Tracer</p>
                </div>

                <div class="flex flex-col items-center">
                    <img src="{% static 'myapp/img/xampp.svg' %}" alt="Packet Tracer" class="w-16 h-16 grayscale hover:grayscale-0 transition duration-300">
                    <p class="text-gray-700 mt-3 text-sm">Xampp</p>
                </div>
            </div>
        </section>
        

        <section id="education" class="min-h-screen bg-white flex flex-col justify-center items-center p-6 mb-4">
            <h2 class="text-5xl font-bold text-gray-900 mb-8">Education</h2>
        
            <div class="container mx-auto px-4">
                <!-- Timeline Wrapper -->
                <div class="flex flex-col md:flex-row items-center justify-between">
                    <!-- Timeline Items -->
                    <div class="flex flex-col items-center mb-8 md:mb-0">
                        <div class="bg-blue-500 text-white rounded-full w-8 h-8 flex items-center justify-center">1</div>
                        <h3 class="text-xl font-semibold mt-2">Elementary </h3>
                        <p class="text-gray-600">Langtad Elementary School</p>
                        <p class="text-gray-600">Graduated in 2014</p>
                    </div>
        
                    <div class="flex flex-col items-center mb-8 md:mb-0">
                        <div class="bg-blue-500 text-white rounded-full w-8 h-8 flex items-center justify-center">2</div>
                        <h3 class="text-xl font-semibold mt-2">Saint Michael School</h3>
                        <p class="text-gray-600">Saint Michael School</p>
                        <p class="text-gray-600">Graduated in 2018</p>
                    </div>
        
                    <div class="flex flex-col items-center mb-8 md:mb-0">
                        <div class="bg-blue-500 text-white rounded-full w-8 h-8 flex items-center justify-center">3</div>
                        <h3 class="text-xl font-semibold mt-2">Senior High School</h3>
                        <p class="text-gray-600">Argao National High School</p>
                        <p class="text-gray-600">TVL - ICT Strand</p>
                        <p class="text-gray-600">Graduated in 2020</p>
                    </div>
        
                    <div class="flex flex-col items-center mb-8 md:mb-0">
                        <div class="bg-blue-500 text-white rounded-full w-8 h-8 flex items-center justify-center">4</div>
                        <h3 class="text-xl font-semibold mt-2">Work Immersion Program</h3>
                        <p class="text-gray-600">Completed in January 2020</p>
                    </div>
        
                    <div class="flex flex-col items-center mb-8 md:mb-0">
                        <div class="bg-blue-500 text-white rounded-full w-8 h-8 flex items-center justify-center">5</div>
                        <h3 class="text-xl font-semibold mt-2">College</h3>
                        <p class="text-gray-600">Studied Information Technology</p>
                        <p class="text-gray-600">Kwentas Klaras PMIS Development</p>
                        <p class="text-gray-600">Expected Graduation: 2025</p>
                    </div>
        
                    <div class="flex flex-col items-center mb-8 md:mb-0">
                        <div class="bg-blue-500 text-white rounded-full w-8 h-8 flex items-center justify-center">6</div>
                        <h3 class="text-xl font-semibold mt-2">Graduation Day</h3>
                        <p class="text-gray-600">June 2025</p>
                    </div>
                </div>
                <!-- Timeline Line -->
                <div class="w-full h-1 bg-gray-300 mt-4"></div>
            </div>
        </section>
        
        
        
        

        <section id="experience" class="min-h-screen bg-gray-200 flex flex-col justify-center items-center p-6 mb-4">
            <h2 class="text-3xl font-semibold mb-6">Experience</h2>
        
            <!-- Experience Card Section -->
            <div class="flex flex-col md:flex-row justify-center items-stretch w-full max-w-6xl mx-auto mt-8 gap-6">
                <!-- First Experience Card -->
                <div class="bg-white shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105 max-w-md w-full flex flex-col" data-aos="fade-up">
                    <img src="{% static 'myapp/img/anhs.png' %}" alt="Company Logo" class="w-32 h-32 object-cover mx-auto mt-4"> 
                    <div class="p-6 flex-grow">
                        <h3 class="text-2xl font-semibold mb-2">Senior High School Work Immersion Program</h3>
                        <p class="text-gray-600 mb-4">FJR IT Solutions | January 2020 - April 2020</p>
                        <p class="text-gray-600 mb-4">
                            As part of the Senior High School curriculum, the Work Immersion Program provides students with real-world experience and hands-on training in their chosen fields. I was assigned to FJR IT Solutions, where I gained practical knowledge in the IT and technical services sector.
                        </p>
                        <p class="text-gray-600 mb-4">
                            My responsibilities included working as a shop attendant, assisting customers with basic technical needs and troubleshooting. I also installed point-to-point (P2P) WiFi connections, ensuring network setups were correctly implemented for home and small business use.
                        </p>
                        <p class="text-gray-600 mb-4">
                            Additionally, I provided PC services, such as hardware installation, software setup, and maintenance. This hands-on experience greatly enhanced my technical skills and deepened my understanding of IT solutions.
                        </p>
                    </div>
                </div>
        
                <!-- Second Experience Card -->
                <div class="bg-white shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105 max-w-md w-full flex flex-col" data-aos="fade-up">
                    <img src="{% static 'myapp/img/psa.svg' %}" alt="Company Logo" class="w-32 h-32 object-cover mx-auto mt-4"> 
                    <div class="p-6 flex-grow">
                        <h3 class="text-2xl font-semibold mb-2">2024 POPCEN-CBMS Field Enumerator</h3>
                        <p class="text-gray-600 mb-4">Philippine Statistics Authority | June 2024 - September 2024</p>
                        <p class="text-gray-600 mb-4">
                            As part of the 2024 Population Census and Community-Based Monitoring System (POPCEN-CBMS) conducted by the Philippine Statistics Authority, I was tasked with collecting demographic, social, and economic data from households. This data is critical for national planning, development programs, and the formulation of policies aimed at improving the quality of life for Filipinos.
                        </p>
                        <p class="text-gray-600 mb-4">
                            I was assigned to Barangay Talaytay Enumeration Areas 1000 and 4000, where I conducted door-to-door interviews, gathered household data, and ensured the accuracy of the information collected. My role involved identifying and addressing discrepancies in the data and assisting respondents in understanding the importance of their participation in the census.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="projects" class="min-h-screen bg-white flex flex-col items-center justify-center md:p-20 mb-4">
            <h2 class="text-4xl font-bold mb-6 text-gray-800">Current Projects</h2>
            <p class="text-gray-600 text-center mb-8">Check out some of the exciting projects I'm currently working on.</p>
            
            <!-- Projects Container -->
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8 w-full max-w-6xl mx-auto mt-8" data-aos="fade-up"> 
                <!-- Project Card 1 -->
                <div class="bg-white shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105 max-w-md w-full h-[600px] flex flex-col"> 
                    <img src="{% static 'myapp/img/kwentasklaras.png' %}" alt="Project Image" class="w-32 h-32 object-cover mx-auto mt-4"> 
                    <div class="p-6 flex flex-col flex-grow">
                        <h3 class="text-2xl font-semibold mb-2 text-center mt-10">Kwentas Klaras Digital Project Management Information System</h3>
                        <p class="text-gray-600 mb-4 text-center mt-6">Designed to streamline project workflows by providing real-time data access for government. This innovative platform enhances productivity and transparency.</p>
                        <div class="mt-auto flex justify-center">
                            <a href="https://kwentasklaraspmis.pythonanywhere.com" class="inline-block px-3 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 w-2/3 text-center">View Project</a>
                        </div>
                    </div>
                    <div class="flex justify-center items-center p-4">
                        <ul class="flex space-x-4 text-gray-600">
                            <li><img src="{% static 'myapp/img/html.svg' %}" alt="HTML Logo" class="w-8 h-8"></li>
                            <li><img src="{% static 'myapp/img/css.svg' %}" alt="CSS Logo" class="w-8 h-8"></li>
                            <li><img src="{% static 'myapp/img/js.svg' %}" alt="JavaScript Logo" class="w-8 h-8"></li>
                            <li><img src="{% static 'myapp/img/django.svg' %}" alt="Django Logo" class="w-8 h-8"></li>
                            <li><img src="{% static 'myapp/img/firebase.svg' %}" alt="Firebase Logo" class="w-8 h-8"></li>
                        </ul>
                    </div>
                </div>

                <div class="bg-white shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105 max-w-md w-full h-[600px] flex flex-col"> 
                    <img src="{% static 'myapp/img/vcall.png' %}" alt="Project Image" class="w-full h-auto object-contain mx-auto mt-4">
                    <div class="p-6 flex flex-col flex-grow">
                        <h3 class="text-2xl font-semibold mb-2 text-center">Simple Videocall Webapp using AgoraSDK</h3>
                        <p class="text-gray-600 mb-4 text-center">Utilizing the Agora Plugin and the technology related to WebSockets, constructed a web application that permits real-time video calling between users effortlessly. This application enables users to create or join video conferences while enjoying quality audio and video.</p>
                        <div class="mt-auto flex justify-center">
                            <a href="https://github.com/hanz-archer/personalchat" class="inline-block px-3 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 w-2/3 text-center">View Project</a>
                        </div>
                    </div>
                    <div class="flex justify-center items-center p-4">
                        <ul class="flex space-x-4 text-gray-600">
                            <li><img src="{% static 'myapp/img/html.svg' %}" alt="HTML Logo" class="w-8 h-8"></li>
                            <li><img src="{% static 'myapp/img/css.svg' %}" alt="CSS Logo" class="w-8 h-8"></li>
                            <li><img src="{% static 'myapp/img/js.svg' %}" alt="JavaScript Logo" class="w-8 h-8"></li>
                            <li><img src="{% static 'myapp/img/django.svg' %}" alt="Django Logo" class="w-8 h-8"></li>
                        </ul>
                    </div>
                </div>

                <div class="bg-white shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105 max-w-md w-full h-[600px] flex flex-col"> 
                    <img src="{% static 'myapp/img/ip.png' %}" alt="Project Image" class="w-full h-auto object-contain mx-auto mt-4">
                    <div class="p-6 flex flex-col flex-grow">
                        <h3 class="text-2xl font-semibold mb-2 text-center">IP Address and Firewall Tracker</h3>
                        <p class="text-gray-600 mb-4 text-center">A simple personal project IP and Firewall Tracker application designed to monitor and manage IP addresses and firewall rules in real-time. The application provides users with insights into network traffic and security by tracking incoming and outgoing connections, along with associated IP addresses.</p>
                        <div class="mt-auto flex justify-center">
                            <a href="https://github.com/hanz-archer/IP-FirewallTracker" class="inline-block px-3 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 w-2/3 text-center">View Project</a>
                        </div>
                    </div>
                    <div class="flex justify-center items-center p-4">
                        <ul class="flex space-x-4 text-gray-600">
                            <li><img src="{% static 'myapp/img/html.svg' %}" alt="HTML Logo" class="w-8 h-8"></li>
                            <li><img src="{% static 'myapp/img/css.svg' %}" alt="CSS Logo" class="w-8 h-8"></li>
                            <li><img src="{% static 'myapp/img/js.svg' %}" alt="JavaScript Logo" class="w-8 h-8"></li>
                            <li><img src="{% static 'myapp/img/django.svg' %}" alt="Django Logo" class="w-8 h-8"></li>
                            <li><img src="{% static 'myapp/img/tailwind.svg' %}" alt="Firebase Logo" class="w-8 h-8"></li>
                        </ul>
                    </div>
                </div>

                <div class="bg-white shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105 max-w-md w-full h-[600px] flex flex-col"> 
                    <img src="{% static 'myapp/img/lvl.png' %}" alt="Project Image" class="w-full h-auto object-contain mx-auto mt-4">
                    <div class="p-6 flex flex-col flex-grow">
                        <h3 class="text-2xl font-semibold mb-2 text-center">LVL+ Ecommerce with Django Paypal Integration</h3>
                        <p class="text-gray-600 mb-4 text-center">A minimalist e-commerce platform integrated with Django and PayPal, providing seamless online transactions for customers. LVL+ offers a smooth shopping experience with secure payments, user-friendly product listings, and efficient order management.</p>
                        <div class="mt-auto flex justify-center">
                            <a href="https://github.com/hanz-archer/LVL-Shoppping-Ecommerce" class="inline-block px-3 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 w-2/3 text-center">View Project</a>
                        </div>
                    </div>
                    <div class="flex justify-center items-center p-4">
                        <ul class="flex space-x-4 text-gray-600">
                            <li><img src="{% static 'myapp/img/html.svg' %}" alt="HTML Logo" class="w-8 h-8"></li>
                            <li><img src="{% static 'myapp/img/css.svg' %}" alt="CSS Logo" class="w-8 h-8"></li>
                            <li><img src="{% static 'myapp/img/js.svg' %}" alt="JavaScript Logo" class="w-8 h-8"></li>
                            <li><img src="{% static 'myapp/img/django.svg' %}" alt="Django Logo" class="w-8 h-8"></li>
                            <li><img src="{% static 'myapp/img/mysql.svg' %}" alt="Firebase Logo" class="w-8 h-8"></li>
                            <li><img src="{% static 'myapp/img/paypal.svg' %}" alt="Firebase Logo" class="w-8 h-8"></li>
                        </ul>
                    </div>
                </div>

                <div class="bg-white shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105 max-w-md w-full h-[600px] flex flex-col"> 
                    <img src="{% static 'myapp/img/cicd.png' %}" alt="Project Image" class="w-full h-auto object-contain mx-auto mt-4">
                    <div class="p-6 flex flex-col flex-grow">
                        <h3 class="text-2xl font-semibold mb-2 text-center">Simple CI/CD Pipeline Workflow for Github Pages Template</h3>
                        <p class="text-gray-600 mb-4 text-center">A streamlined CI/CD pipeline workflow designed for GitHub Pages projects, automating deployments and ensuring seamless updates. This template enables continuous integration and delivery, making it easy to deploy and maintain static websites efficiently.</p>
                        <div class="mt-auto flex justify-center">
                            <a href="https://github.com/hanz-archer/SIA-2" class="inline-block px-3 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 w-2/3 text-center">View Project</a>
                        </div>
                    </div>
                    <div class="flex justify-center items-center p-4">
                        <ul class="flex space-x-4 text-gray-600">
                            <li><img src="{% static 'myapp/img/html.svg' %}" alt="HTML Logo" class="w-8 h-8"></li>
                            <li><img src="{% static 'myapp/img/css.svg' %}" alt="CSS Logo" class="w-8 h-8"></li>
                            <li><img src="{% static 'myapp/img/githublogo.svg' %}" alt="Django Logo" class="w-8 h-8"></li>
                        </ul>
                    </div>
                </div>
                
                <div class="bg-white shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105 max-w-md w-full h-[600px] flex flex-col"> 
                    <img src="{% static 'myapp/img/javanft.png' %}" alt="Project Image" class="w-full h-auto object-contain mx-auto mt-4">
                    <div class="p-6 flex flex-col flex-grow">
                        <h3 class="text-2xl font-semibold mb-2 text-center">A console based NFT Shop Java Based</h3>
                        <p class="text-gray-600 mb-4 text-center">A Java-based console application for buying, selling, and managing NFTs. This project provides a simplified e-commerce experience focused on digital assets, allowing users to explore NFT collections and make transactions directly from the console.</p>
                        <div class="mt-auto flex justify-center">
                            <a href="https://github.com/hanz-archer/NFT-Shop-Java" class="inline-block px-3 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 w-2/3 text-center">View Project</a>
                        </div>
                    </div>
                    <div class="flex justify-center items-center p-4">
                        <ul class="flex space-x-4 text-gray-600">
                            <li><img src="{% static 'myapp/img/java.svg' %}" alt="JavaScript Logo" class="w-8 h-8"></li>
                        </ul>
                    </div>
                </div>

                <div class="bg-white shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105 max-w-md w-full h-[600px] flex flex-col"> 
                    <img src="{% static 'myapp/img/todo.png' %}" alt="Project Image" class="w-full h-auto object-contain mx-auto mt-4">
                    <div class="p-6 flex flex-col flex-grow">
                        <h3 class="text-2xl font-semibold mb-2 text-center">A Simple To-Do App made by PHP</h3>
                        <p class="text-gray-600 mb-4 text-center">This PHP-based to-do application helps you organize tasks effortlessly. Designed for simplicity, it allows users to create, edit, and delete tasks, all while offering a streamlined and responsive interface. Perfect for staying on top of your daily goals and managing your to-do list with ease.</p>
                        <div class="mt-auto flex justify-center">
                            <a href="https://github.com/hanz-archer/toDoApp" class="inline-block px-3 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 w-2/3 text-center">View Project</a>
                        </div>
                    </div>
                    <div class="flex justify-center items-center p-4">
                        <ul class="flex space-x-4 text-gray-600">
                            <li><img src="{% static 'myapp/img/php.svg' %}" alt="JavaScript Logo" class="w-8 h-8"></li>
                            <li><img src="{% static 'myapp/img/xampp.svg' %}" alt="JavaScript Logo" class="w-8 h-8"></li>
                            <li><img src="{% static 'myapp/img/mysql.svg' %}" alt="JavaScript Logo" class="w-8 h-8"></li>
                        </ul>
                    </div>
                </div>   
            </div>
        </section>
        
        
        
        
        
        
        <section id="certifications" class="min-h-screen bg-gray-200 flex flex-col justify-center items-center p-6 mb-4">
            <h2 class="text-4xl font-bold text-gray-800 mb-6">Certifications</h2>
            <p class="text-gray-600 text-center max-w-2xl mb-10">
                Here are some of the certifications I have earned over the course of my career.
            </p>
        
            <!-- Increased gap between the cards -->
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-10 w-full max-w-5xl">
                <!-- Certification Card 1 -->
                <div class="relative bg-white rounded-xl shadow-lg transform transition-transform duration-300 hover:scale-105 hover:shadow-xl mx-auto w-full max-w-lg">
                    <div class="overflow-hidden h-72 rounded-t-xl group relative">
                        <img src="{% static 'myapp/img/gdsc1.jfif' %}" alt="Certification 1" class="w-full h-full object-cover transition-transform duration-300 transform group-hover:scale-110">
                        <!-- Modal -->
                        <div class="absolute inset-0 bg-black bg-opacity-60 flex justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <img src="{% static 'myapp/img/gdsc1.jfif' %}" alt="Certification 1 Full" class="w-auto max-h-full max-w-full">
                        </div>
                    </div>
                    <div class="p-6">
                        <h3 class="text-2xl font-semibold text-gray-800 hover:text-blue-500 transition-colors duration-300">Google Developer Student Club Mobile Development Workshops</h3>
                        <p class="text-gray-500 mt-2">Issued by: GDSC - University of San Carlos</p>
                        <p class="text-gray-400 text-sm mt-4">Date Issued: May 2024</p>
                    </div>
                </div>
        
                <!-- Certification Card 2 -->
                <div class="relative bg-white rounded-xl shadow-lg transform transition-transform duration-300 hover:scale-105 hover:shadow-xl mx-auto w-full max-w-lg">
                    <div class="overflow-hidden h-72 rounded-t-xl group relative">
                        <img src="{% static 'myapp/img/gdsc2.jfif' %}" alt="Certification 2" class="w-full h-full object-cover transition-transform duration-300 transform group-hover:scale-110">
                        <!-- Modal -->
                        <div class="absolute inset-0 bg-black bg-opacity-60 flex justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <img src="{% static 'myapp/img/gdsc2.jfif' %}" alt="Certification 2 Full" class="w-auto max-h-full max-w-full">
                        </div>
                    </div>
                    <div class="p-6">
                        <h3 class="text-2xl font-semibold text-gray-800 hover:text-blue-500 transition-colors duration-300">Introduction to Machine Learning with Tensor Flow</h3>
                        <p class="text-gray-500 mt-2">Issued by: GDSC - Cebu Technological University</p>
                        <p class="text-gray-400 text-sm mt-4">Date Issued: March 2024</p>
                    </div>
                </div>
        
                <!-- Certification Card 3 -->
                <div class="relative bg-white rounded-xl shadow-lg transform transition-transform duration-300 hover:scale-105 hover:shadow-xl mx-auto w-full max-w-lg">
                    <div class="overflow-hidden h-72 rounded-t-xl group relative">
                        <img src="{% static 'myapp/img/psite.jfif' %}" alt="Certification 3" class="w-full h-full object-cover transition-transform duration-300 transform group-hover:scale-110">
                        <!-- Modal -->
                        <div class="absolute inset-0 bg-black bg-opacity-60 flex justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <img src="{% static 'myapp/img/psite.jfif' %}" alt="Certification 3 Full" class="w-auto max-h-full max-w-full">
                        </div>
                    </div>
                    <div class="p-6">
                        <h3 class="text-2xl font-semibold text-gray-800 hover:text-blue-500 transition-colors duration-300">Cebu ICT Student Congress</h3>
                        <p class="text-gray-500 mt-2">Issued by: Philippine Society of Information Technology Educators</p>
                        <p class="text-gray-400 text-sm mt-4">Date Issued: March 2024</p>
                    </div>
                </div>
        
                <!-- Certification Card 4 -->
                <div class="relative bg-white rounded-xl shadow-lg transform transition-transform duration-300 hover:scale-105 hover:shadow-xl mx-auto w-full max-w-lg">
                    <div class="overflow-hidden h-72 rounded-t-xl group relative">
                        <img src="{% static 'myapp/img/tesda.jfif' %}" alt="Certification 4" class="w-full h-full object-cover transition-transform duration-300 transform group-hover:scale-110">
                        <!-- Modal -->
                        <div class="absolute inset-0 bg-black bg-opacity-60 flex justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <img src="{% static 'myapp/img/tesda.jfif' %}" alt="Certification 4 Full" class="w-auto max-h-full max-w-full">
                        </div>
                    </div>
                    <div class="p-6">
                        <h3 class="text-2xl font-semibold text-gray-800 hover:text-blue-500 transition-colors duration-300">Contact Center Services NCII</h3>
                        <p class="text-gray-500 mt-2">Issued by: Call Center Academy</p>
                        <p class="text-gray-400 text-sm mt-4">Date Issued: September 2023</p>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="contact" class="min-h-screen bg-white flex flex-col justify-center items-center py-12 px-6">
            <h2 class="text-4xl font-bold mb-8 text-gray-800">Get In Touch</h2>
            
            <form method="POST" class="max-w-xl w-full bg-white shadow-lg rounded-lg p-8 space-y-6">
                {% csrf_token %}
                
                <div class="flex flex-col space-y-2">
                    <label for="name" class="text-lg font-medium text-gray-700">Your Name</label>
                    <input type="text" name="name" id="name" class="block w-full p-3 text-base border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 placeholder-gray-400" placeholder="Name" required>
                </div>
                
                <div class="flex flex-col space-y-2">
                    <label for="email" class="text-lg font-medium text-gray-700">Your Email</label>
                    <input type="email" name="email" id="email" class="block w-full p-3 text-base border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 placeholder-gray-400" placeholder="email@example.com" required>
                </div>
                
                <div class="flex flex-col space-y-2">
                    <label for="subject" class="text-lg font-medium text-gray-700">Subject</label>
                    <input type="text" name="subject" id="subject" class="block w-full p-3 text-base border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 placeholder-gray-400" placeholder="Subject of your message" required>
                </div>
                
                <div class="flex flex-col space-y-2">
                    <label for="message" class="text-lg font-medium text-gray-700">Your Message</label>
                    <textarea name="message" id="message" rows="6" class="block w-full p-3 text-base border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 placeholder-gray-400" placeholder="Leave your message here..." required></textarea>
                </div>
                
                <button type="submit" class="w-full py-3 px-4 bg-blue-600 text-white text-lg font-semibold rounded-lg hover:bg-blue-700 transition duration-200 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                    Send Message
                </button>
            </form>
        </section>
        
        
        
    </main>
    <script src="https://cdn.jsdelivr.net/npm/notyf/notyf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
        // Create a new Notyf instance
        const notyf = new Notyf();
    
        // Check if there are messages to show
        const messages = JSON.parse('{{ messages|safe|escapejs }}');
        if (messages.length > 0) {
            messages.forEach(function(message) {
                notyf.success(message);
            });
        }
    </script>
    

    <script>
        AOS.init({
            duration: 1000,  // Duration of animation in milliseconds
            once: true       // Only animate elements once while scrolling down
        });
    </script>
    
    <script>
        // Get references to the toggler and mobile menu
        const toggler = document.getElementById('navbar-toggler');
        const mobileMenu = document.getElementById('mobile-menu');
        const hamburgerIcon = toggler.querySelector('.hamburger');
    
        // Toggle mobile menu visibility and animate the hamburger icon
        toggler.addEventListener('click', () => {
            // Toggle the visibility of the mobile menu
            mobileMenu.classList.toggle('hidden');
    
            // Change max-height for animation
            if (!mobileMenu.classList.contains('hidden')) {
                mobileMenu.style.maxHeight = `${mobileMenu.scrollHeight}px`; // Expand to full height
            } else {
                mobileMenu.style.maxHeight = '0'; // Collapse
            }
    
            // Toggle hamburger icon animation (rotate 90 degrees)
            hamburgerIcon.classList.toggle('active');
        });
    
        // Smooth scrolling effect for internal anchor links
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
                const target = document.querySelector(this.getAttribute('href'));
                if (target) {
                    window.scrollTo({
                        top: target.offsetTop - 100, // Adjusts scroll position (offset by 100px)
                        behavior: 'smooth'
                    });
                }
    
                // Close mobile menu after click (for mobile view)
                if (window.innerWidth < 768) {
                    mobileMenu.classList.add('hidden');
                    mobileMenu.style.maxHeight = '0'; // Collapse menu
                    hamburgerIcon.classList.remove('active'); // Reset hamburger icon
                }
            });
        });
    
        // Close the mobile menu if clicking outside of it
        document.addEventListener('click', (event) => {
            // Check if the click was outside the mobile menu and toggle button
            if (!mobileMenu.contains(event.target) && !toggler.contains(event.target)) {
                mobileMenu.classList.add('hidden'); // Close the menu
                mobileMenu.style.maxHeight = '0'; // Collapse menu
                hamburgerIcon.classList.remove('active'); // Reset hamburger icon
            }
        });
    </script>
    
</body>
</html>
